<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.tees.v8036651.mode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Screen_IDE"></activity>
        <activity android:name=".QRScreen"></activity>
        <activity android:name=".Screen_Settings"></activity>
        <activity android:name=".GitHubScreen"></activity>
        <activity android:name=".Screen_ChangePassword"></activity>
        <activity android:name=".Screen_ChangeUsername"></activity>
        <activity android:name=".FileViewer.Screen_FileViewer"></activity>

        <activity
            android:name=".HomeScreenActivity"
            android:parentActivityName=".LoginActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>